        <% 
        #Example.api_call

        response = RestClient.get('https://www.googleapis.com/books/v1/volumes?q='+params[:id]+'&projection=lite')
        books_array = JSON.parse(response)
        #raise books_array.to_json
        %>

        <% books_array['items'].each do |book|%>
        
        <% #poskrbi da se vedno pokaze knjiga z enakim id-jem
        if book['id'] != params[:id]
            next
        end %>
        
        

        <%  if book['volumeInfo']['imageLinks']
            @cover = book['volumeInfo']['imageLinks']['thumbnail']
        else
            @cover = 'smiley.png'
        end
        if  book['volumeInfo']['description']
            @description = book['volumeInfo']['description']
        else
            @description = 'no description'
        end
        @author = book['volumeInfo']['authors'].join(', ')
        @title = book['volumeInfo']['title']
        @id = book['id']
        %>
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"><%= book['volumeInfo']['title'] %></h2>
                <ul class="d-flex list-unstyled mt-auto">
                <li class="d-flex align-items-center me-3">
                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                </li>
                </ul>
            </div>
            </div>
        </div>

        
        <%break%>
        <% end %>


<div class="container">
  <div class="row">
    <div class="col-4">

        <div class="cover">
            <br><br>
            <img width="180px" src="<%= @cover %>">
            <br><br><br>
            <%= link_to 'Read', preview_path(id: @id), method: :get, class:'btn btn-primary read' %>
            
        </div>
    
    </div>
    <div class="col-8">
        <br><br>
        <div>
            <h1><%= @title %></h1>
            <br>
            <p><%= @description %></p>
            <i>by <%= @author %></i>
        </div>
    
    </div>
  </div>
</div>