<main>

    <div class="container px-4 py-5" id="hanging-icons">
        <h2 class="pb-2 border-bottom">Welcome to Open Library</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
            </div>
            <div>
            <h2>Borrowing Books Through Open Library</h2>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
            <a href="#" class="btn btn-primary">
                Primary button
            </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
            </div>
            <div>
            <h2>Organize your Books</h2>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
            <a href="#" class="btn btn-primary">
                Primary button
            </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"></use></svg>
            </div>
            <div>
            <h2>Be an open Librarian</h2>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
            <a href="#" class="btn btn-primary">
                Primary button
            </a>
            </div>
        </div>
        </div>
    </div>




        <!--<h2>Import Users</h2> -->

        <%#= form_tag import_users_path, multipart: true do %>
        <%#= file_field_tag :file %>
        <%#= submit_tag "Import" %>
        <%# end %>
        


        <% 
        url = 'https://www.googleapis.com/books/v1/volumes?q=book&projection=lite&maxResults=3'

        #Example.api_call
        #https://www.googleapis.com/books/v1/volumes?q=Potter+subject:fiction&maxResults=20
        response = RestClient.get('https://www.googleapis.com/books/v1/volumes?q=Potter&maxResults=5&filter=partial')
        books_array = JSON.parse(response)
        #raise books_array.to_json
        %>

        
        <h2 class="pb-2 border-bottom" style="margin-left: 120px">Books We Love</h2>
        <br><br>

        <div class="container">
            <div class="row">
                <% books_array['items'].each do |book|%>
                    <div class="col imag">
                        <%= link_to about_book_path(id: book["id"]), method: :get do %>
                            <div class="col imag" style="background-image: url(<% if (book['volumeInfo']['imageLinks']) %><%= book['volumeInfo']['imageLinks']['thumbnail'] %><% end %>); background-repeat:no-repeat;  width:200px; height:290px !important"></div>
                        <% end %>
                    </div>
                <% end %>
        </div>
        </div>
        
        <br><br>
        <h2 class="pb-2 border-bottom" style="margin-left: 120px">Fiction books</h2>
        <br><br>
        <%response = RestClient.get('https://www.googleapis.com/books/v1/volumes?q=subject:fiction&filter=partial&maxResults=5')
        books_array = JSON.parse(response)%>
        <div class="container">
            <div class="row">
                <% books_array['items'].each do |book|%>
                    <div class="col imag">
                        <%= link_to about_book_path(id: book["id"]), method: :get do %>
                            <div class="col imag" style="background-image: url(<% if (book['volumeInfo']['imageLinks']) %><%= book['volumeInfo']['imageLinks']['thumbnail'] %><% end %>); background-repeat:no-repeat;  width:200px; height:290px !important"></div>
                        <% end %>
                    </div>
                <% end %>
        </div>
        </div>

        <br><br>
        <h2 class="pb-2 border-bottom" style="margin-left: 120px">Drama books</h2>
        <br><br>
        <%response = RestClient.get('https://www.googleapis.com/books/v1/volumes?q=subject:drama&filter=partial&maxResults=5')
        books_array = JSON.parse(response)%>
        <div class="container">
            <div class="row">
                <% books_array['items'].each do |book|%>
                    <div class="col imag">
                        <%= link_to about_book_path(id: book["id"]), method: :get do %>
                            <div class="col imag" style="background-image: url(<% if (book['volumeInfo']['imageLinks']) %><%= book['volumeInfo']['imageLinks']['thumbnail'] %><% end %>); background-repeat:no-repeat;  width:200px; height:290px !important"></div>
                        <% end %>
                    </div>
                <% end %>
        </div>
        </div>




    <br><br>
        <h2 class="pb-2 border-bottom" style="margin-left: 120px">Thriller books</h2>
        <br><br>
        <%response = RestClient.get('https://www.googleapis.com/books/v1/volumes?q=subject:thriller&filter=partial&maxResults=5')
        books_array = JSON.parse(response)%>
        <div class="container">
            <div class="row">
                <% books_array['items'].each do |book|%>
                    <div class="col imag">
                        <%= link_to about_book_path(id: book["id"]), method: :get do %>
                            <div class="col imag" style="background-image: url(<% if (book['volumeInfo']['imageLinks']) %><%= book['volumeInfo']['imageLinks']['thumbnail'] %><% end %>); background-repeat:no-repeat;  width:200px; height:290px !important"></div>
                        <% end %>
                    </div>
                <% end %>
        </div>
        </div>
</main>



  