<%= form_with(model: loan) do |form| %>
  <% if loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
        <% loan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :book_id %>
    <%= form.number_field :book_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :loan_date %>
    <%= form.datetime_select :loan_date %>
  </div>

  <div class="field">
    <%= form.label :loan_expiration_date %>
    <%= form.datetime_select :loan_expiration_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
