<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @loan.book_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @loan.user_id %>
</p>

<p>
  <strong>Loan date:</strong>
  <%= @loan.loan_date %>
</p>

<p>
  <strong>Loan expiration date:</strong>
  <%= @loan.loan_expiration_date %>
</p>

<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>